# .env
DATABASE_URL=sqlite:///./rule_engine.db
# Postgres: postgresql://user:pass@localhost:5432/db_name
BACKEND_CORS_ORIGINS=["http://localhost:8000","http://localhost:3000,https://miosito-produzione.com"]

SECRET_KEY=my_super_and_complex_secret_key
